<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= messages %></h1>
    <p>This is the message: <%= messages %></p>
  </body>
</html>
